.master-panel {
  background-color: var(--N75);
}

.content {
  margin: var(--size-3);
}

/* makes master-table scrollable */
.master-content,
.master-wrapper,
.variable-wrapper {
  flex: 1;
  flex-basis: 0;
  min-height: 0;
  height: 100%;
}

.details-container {
  height: 100%;
}

.details-content {
  flex: auto;
}
