.variables-editor-main-content {
  overflow: auto;
}

.variables-editor-table-field {
  margin: var(--size-3);
  min-height: 0;
}

.variables-editor-table-container {
  overflow-x: hidden;
  position: relative;
}

.variables-editor-table {
  display: grid;
}

.variables-editor-table-body tr {
  display: flex;
  position: absolute;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
}

.variables-editor-table-body td {
  align-content: center;
}

.variables-editor-table-body tr > td:last-child {
  flex-grow: 1;
}

.variables-editor-table-body span,
.variables-editor-table-body p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Because 'display' is set to 'block' instead of 'flex' on the parent 'p' to
   make 'text-overflow: ellipsis' work, we need to manually style the icon in
   the message rows */
.variables-editor-table-body p i {
  padding-right: var(--size-1);
  vertical-align: middle;
  line-height: inherit;
}
